*{
    margin: 0;
    padding: 0%;
}

.main{
    width: 100%;
    background: url(assets/images/backround.jpg);
    background-position: center;
    background-size: cover;
    height: 200vh;
    position: relative;
    font-family: sans-serif;
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}

ul{
    margin-top: -4%;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px; 
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategrey;
    margin-top: -3%;
}

ul li a:hover{
    color:aqua
}

.imgMain {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info{
    margin-left: 7%;
    color: rgb(3, 19, 71);
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 20px;
}
.icons i{
    text-decoration: none;
    color: #c4c4c4;
    cursor: pointer;
}
.icons i{
    margin-left: 7%;
    font-size: 20px;
    transition: .4s ease;
}

.icons i:hover{
    color: rgb(59,174,209);
}

.btn{
    margin-left: 7%;
    font-size: 20px;
    transition: .4s ease;
    text-decoration: none;
    cursor: pointer;
    color: #c4c4c4;
    border: none;
}

.btn:hover{
    color:aqua
}

.content{
    margin-left: 7%;
    color: rgb(1, 4, 15);
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 24px;
    text-align: center;
}

 h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 7%;
    color: rgb(1, 4, 15);
    font-size: 33px;
    letter-spacing: 2px;
    line-height: 24px;
    text-align: center;
}

input {
    background-color: #ffffff;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: aqua;
    margin-bottom: 20px;
}

textarea {
    background-color: #ffffff;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: aqua;
    margin-bottom: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:focus-within {
outline: none;
border-color: aqua;
border-width: 3px;
}

textarea:focus-within {
    outline: none;
    border-color: aqua;
    border-width: 3px;
    }

    button {
        background-color:rgb(164, 164, 224) ;
        border-radius: 20px;
        border-color: black;
        font-size: 22px;
        padding: 10px 18px;
        display: flex;
        margin: auto;
        cursor: pointer;
    }

button:hover{
    color:aqua
}
.hidden{
    display: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: rgb(168, 20, 20);
}     
